$height : 1000px;

body
	background-color: #fff
	
div
	display: block
.square
	display: inline-block
	width: 15px
	height: 15px
	border-radius: 15px
.redColor
	background-color: red
.greenColor
	background-color: green

.loader
	background-color: #fff
	opacity: 0.5
	z-index: 9998
	width: 100%
	height: $height
	overflow-y: hidden
	position: absolute
	img
	    margin: 0 auto
	    position: relative
	    top: 20%
	    display: inherit
.blackfield
	z-index: 9999
	background-color: #000
	opacity: 0.5
	position: absolute
	width: 100%
	height: $height
	display: block
	color: white
	font-size: 44px
	text-align: center
	overflow-y: hidden
	div
		top: 20%
		position: absolute
.buttonBlock
	padding-top: 10px
.mid 
	display: inline-block
.mainBody 
	background-color: #ffd
	margin: 0px auto
	padding-top: 90px
	max-width: 1024px
	height: $height
	border: 1px solid black
	display: block
	.table .btn
		width: 100px
.footer
    bottom: 0
    width: 100%
    height: 40px
    position: fixed
    background-color: #ddddff
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.20);
.footer div
	padding: 10px
	display: inline-block
.header div
	padding: 10px

	color: white
.header
	z-index: 10
	position: fixed
	background-color: #563d7c
	box-shadow: 0px 5px 40px 1px rgba(0,0,0,0.30);	
.logoName
	padding 10px 16px
	text-align: right
	line-height: 2
	font-size: 20px
.leftBlock .rightBlock
	width: 50%
.addInfoSection div
	padding-top: 5px
.radioBlock label
	padding-top: 5px
.radioBlock label>input
	margin-top: 10px